/* main const variables */
/* rem=16px */

:root {
  --blue-light: #aad4f1;
  --blue-dark: #5997d0;
  --pink: #dc8582;
  --black: #000;
  --white: #fff;
  --main-font: "Roboto Mono", monospace;
  --display-font: "Sacramento", cursive;
  --decorative-font: "Yeseva One", cursive;
  --border-props: 2px solid var(--black);

  font-size: 16px;

  --box-shadow-sm: 1rem 1rem 0px 0px;
  --box-shadow-xsm: 0.5rem 0.5rem 0px 0px;
  --box-shadow-xsm-pushed: 0.2rem 0.2rem 0px 0px;

  --animation-push-transform: translateX(0.3rem) translateY(0.3rem);
  --animation-push-translate: all ease-in-out 0.1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--decorative-font);
  line-height: 1.2em;
}

/* buttons */

/* rectangle */
/*  - regular */

.btn-sqr {
  background-color: var(--blue-dark);
  font-size: 2rem;
  border: none;
  padding: 0.5rem 2rem;
  min-width: 15rem;
  border: var(--border-props);
  margin: 0 1rem;
  box-shadow: var(--box-shadow-xsm) var(--black);
}

.btn-sqr:hover,
.circle-btn:hover {
  background-color: var(--blue-light);
}

.btn-sqr:active,
.circle-btn:active {
  transform: var(--animation-push-transform);
  box-shadow: var(--box-shadow-xsm-pushed);
  transition: var(--animation-push-transform);
}

.active-sqr {
  font-weight: bold;
  background-color: var(--white);
}

/* - large */
.btn-sqr-lg {
  background-color: var(--pink);
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  padding: 0.5rem 3rem;
  min-width: 20rem;
  border: var(--border-props);
  box-shadow: var(--box-shadow-sm) var(--black);
}

.btn-sqr-lg:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn-sqr-lg:active {
  transform: var(--animation-push-transform);
  box-shadow: var(--box-shadow-xsm) var(--black);
  transition: var(--animation-push-transform);
}
/* -carousel */
.carousel-sqr {
  font-family: var(--decorative-font);
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  min-width: 10rem;
}
/* - carousel circle */

.circle-btn {
  max-width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  background-color: var(--blue-dark);
  border: var(--border-props);
  margin: 1rem;
  box-shadow: var(--box-shadow-xsm) var(--black);
}

.carousel-btn-act {
  background-color: var(--pink) !important;
}

/* reset browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

/* setting full browser width */
html {
  width: 100%;
  min-height: 100%;
}

/* body */
body {
  width: 100%;
  min-height: 100%;
  font-family: var(--main-font);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* nav */

#logo img {
  height: 10vh;
  margin: 1rem;
  min-height: 30%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* pattern */
  background-color: var(--white);
  background-image: linear-gradient(var(--blue-light) 2px, transparent 2px),
    linear-gradient(to right, var(--blue-dark) 2px, var(--white) 2px);
  background-size: 2rem 2rem;
  flex-direction: row;
  padding: 0 5rem;
  top: 0;
}

.nav-container {
  width: 100%;
  box-shadow: var(--box-shadow-sm) var(--blue-dark);
  position: relative;
  top: 0;
  margin-bottom: 3rem;
}

/* sections */

/* about and creator flex */
#about-section,
#creator-area {
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
/* overrride */
#creator-area {
  justify-content: space-evenly;
}
.choosing-btns {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.circle-btn {
  display: inline-flex;
  width: 100%;
  min-width: 5rem;
}

.circle-btn > img {
  width: 100%;
}

/* creator-arrows */
.carousel {
  position: relative;
  width: 32rem;
}
.carousel-arrows {
  position: absolute;
  z-index: 100;
  top: 40rem;
  left: -3rem;
  width: 38rem;
  display: flex;
  justify-content: space-between;
}

/* about section style */

.texts {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  font-size: 3rem;
  padding: 1rem;
}

#slogan {
  text-shadow: 0.05em 0.05em 0 var(--blue-light);
  margin-bottom: 2rem;
}

#description {
  color: var(--blue-dark);
  margin-bottom: 3.5rem;
}

#cta {
  align-self: flex-start;
}

/* about img animation */

.imgs {
  align-self: center;
  padding-right: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.img-container {
  position: relative;
  background-color: var(--white);
}

#img-slides {
  border: var(--border-props);
  width: 30rem;
  height: 35rem;
  overflow: hidden;
}

figure {
  position: relative;
  left: -30px;
  width: 350%;

  animation: 30s slide infinite;
  animation-delay: 2s;
}

.slider-img-wrap {
  position: relative;
  display: inline-flex;

  flex-direction: row;
}

.slider-img-wrap img {
  width: 50%;
  height: 90%;
  flex: 90%;
}

@keyframes slide {
  0% {
    left: -30px;
  }
  25% {
    left: -120%;
  }
  50% {
    left: -230%;
  }
  75% {
    left: -120%;
  }
  100% {
    left: -30px;
  }
}

/* about img decoration */

.img-window-elements {
  border: var(--border-props);
  position: absolute;
  width: 100%;
  top: calc(-2.5rem + 2px);
  height: 2.5rem;
  background-color: var(--pink);
  display: flex;
  align-items: center;
}

.dot-window {
  width: 1.5rem;
  height: 1.5rem;
  border: var(--border-props);
  background-color: var(--white);
  border-radius: 50%;
  margin: 0.5rem;
}

.dot-decor {
  background-color: var(--blue-dark);
}

.img-shadow {
  position: absolute;
  top: 1rem;
  left: 3.5rem;
  width: 100%;
  height: calc(100% + 2.5rem);
  border: var(--border-props);
  z-index: -1;
  /* pattern */
  background-image: radial-gradient(var(--black) 30%, transparent 5%);
  background-color: var(--blue-dark);
  background-position: 0 0, 0.5rem 0.5rem;
  background-size: 1.1rem 1.1rem;
}

/* creator style */

/* -user img */
.carousel-portrait {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 38rem;
  border: var(--border-props);
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
}

.portrait-content {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.hair {
  position: absolute;

  height: 26rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.body {
  position: absolute;

  height: 21rem;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.face {
  position: absolute;
  height: 19rem;
  width: 100%;
  top: 4rem;
  left: 0;
  z-index: 2;
}

.eyes {
  position: absolute;
  height: 5rem;
  width: 100%;
  top: 5rem;
  left: 0;
  z-index: 3;
}

.nose {
  position: absolute;
  height: 5rem;
  width: 100%;
  top: 7rem;
  left: 0;
  z-index: 3;
}

.mouth {
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 1rem;
  left: 0;
  z-index: 3;
}

/* - carosusel*/
.carousel-choosing {
  display: flex;
  position: relative;
  top: -2px;
  width: 100%;
  border: var(--border-props);
  height: 7rem;
  background-color: var(--white);
}

.img-to-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7rem;
  height: 7rem;
  overflow: hidden;
  padding: 1rem;
  border-left: var(--border-props);
}
.img-to-choose:first-of-type {
  border: none;
}

.img-to-choose:hover {
  cursor: pointer;
  background-color: var(--blue-light);
  transition: background-color 0.2s linear;
}

.img-to-choose > img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

.chosen-carousel-item {
  background-color: var(--pink) !important;
}

/* controlling carousel img flow */
.not-to-scroll {
  border: 5px solid red;
  position: relative;
  display: block;
}

.to-scroll {
  overflow: auto;
  width: 100%;
  scroll-behavior: smooth;
  position: relative;
  scrollbar-width: none;
}

.to-scroll::-webkit-scrollbar {
  display: none;
}

/* -text */
.instruction-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem;
  line-height: 1rem;
}
.instruction-text > h3,
.instruction-text > span {
  text-align: center;
}

#new-instruction {
  z-index: -1;
  margin: 0;
  padding: 0;
  font-family: var(--display-font);
  letter-spacing: 1.5rem;
  font-size: 3rem;
  color: var(--blue-light);
  animation: expand 0.5s ease-in-out;
  margin-bottom: 2rem;
}

@keyframes expand {
  from {
    opacity: 0;
    letter-spacing: 0;
  }
}

/* -btns area */

.circle-btns {
  display: flex;
  margin: 0 2rem;
}

.rect-btns {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.download-btn {
  align-self: flex-end;
  margin-top: 8rem;
}

/* graphic elements */
/* -about section */
.elements-div {
  overflow: hidden;
  z-index: -2;
}

#circle-el {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40rem;
  height: 40rem;
  border: 5rem solid var(--pink);
  border-radius: 50%;
  transform: translateY(20rem) translateX(20rem);
}

#dotted-el-bg-pink {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 15%;
  background-image: radial-gradient(var(--pink) 4px, transparent 2px);
  background-position: 0 0, 1rem 1rem;
  background-size: 2rem 2rem;
}

#box-el-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25rem;
  z-index: -3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square-el {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 4px solid var(--blue-light);
  margin: 12px;
}

.fake-square {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 4px solid transparent;
  margin: 1rem;
}

/* -creator section */
.dots-under-download {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 28%;
  height: 20%;
  background-image: radial-gradient(var(--blue-light) 4px, transparent 2px);
  background-position: 0 0, 1rem 1rem;
  background-size: 2rem 2rem;
}

/* arrows */
.arrow {
  border: solid var(--black);
  border-width: 0 1rem 1rem 0;
  display: inline-block;
  padding: 1rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow:hover {
  border: solid var(--blue-light);
  border-width: 0 1rem 1rem 0;
  transition: border 0.5s ease-in-out;
}

/* footer */
p a:link,
p a:visited {
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink);
  padding: 0.1rem 0.3rem;
}

p a:hover {
  background-color: var(--black);
}

footer {
  margin-top: -1rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 3rem;
}

/* media query */

@media only screen and (max-width: 1650px) {
  .texts {
    font-size: 2rem;
    display: flex;
    padding-right: 5rem;
  }
  #about-section,
  #creator-area {
    width: 85%;
  }
  .btn-sqr-lg {
    padding: 0.5rem 1.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
  .texts {
    font-size: 2em;
  }

  #about-section,
  #creator-area {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  #about-section,
  #creator-area {
    width: 90%;
    height: initial;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 6rem 1rem;
    margin: 2rem 0;
  }

  .choosing-btns {
    min-height: initial;
  }

  :root {
    font-size: 16px;
  }

  .texts {
    font-size: 3rem;
    min-width: 100%;
    display: flex;
    margin-bottom: 3rem;
  }

  .btn-sqr {
    min-width: 12rem;
  }
  #logo {
    max-width: 30%;
    display: flex;
  }
  #logo > img {
    width: 100%;
    height: initial;
  }
  nav {
    padding: 0 2rem 0 1rem;
  }
  .btn-sqr {
    min-width: 12rem;
  }

  .download-btn {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  nav {
    padding: 2rem;
  }
  .btn-sqr {
    min-width: 10rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }

  .btn-sqr {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    min-width: 10rem;
  }
}

/* 576px, 768px, 992px, and 1200px */
